<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>

</head>
<body>
<!-- Navbar Fragment -->
<div th:fragment="navbarDba">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mon Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Paramètres</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gestionEtudiantDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion Étudiant
                    </a>
                    <div class="dropdown-menu" aria-labelledby="gestionEtudiantDropdown">
                        <a class="dropdown-item" th:href="@{/ajoutetud}" >Ajouter Étudiant</a>
                        <a class="dropdown-item"th:href="@{/listetud}">Lister Étudiant</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gestionAdminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion Administrateur
                    </a>
                    <div class="dropdown-menu" aria-labelledby="gestionAdminDropdown">
                        <a class="dropdown-item" th:href="@{/ajoutadmin}" >Ajouter Administrateur</a>
                        <a class="dropdown-item" th:href="@{/listadmin}">Lister Administrateur</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gestionArchivisteDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion Archiviste
                    </a>
                    <div class="dropdown-menu" aria-labelledby="gestionArchivisteDropdown">
                        <a class="dropdown-item" th:href="@{/ajoutarchiviste}" >Ajouter Archiviste</a>
                        <a class="dropdown-item" th:href="@{/listarchiviste}">Lister Archiviste</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
