<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Doc Details</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Student Document Details</h2>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>ID</th>
            <td th:text="${DocEtud.id}"></td>
        </tr>
        <tr>
            <th>Type</th>
            <td th:text="${DocEtud.type}"></td>
        </tr>
        <tr>
            <th>Intitulee</th>
            <td th:text="${DocEtud.intitule}"></td>
        </tr>
        <tr>
            <th>Annee Realisation</th>
            <td th:text="${DocEtud.anneeRealisation}"></td>
        </tr>


        </tbody>
    </table>

    <form th:action="@{/docstudentsaccept/{id}(id=${DocEtud.id})}" method="get">
        <div class="form-group">
            <label for="dateSupp">Date Supp</label>
            <input type="date" class="form-control" id="dateSupp" name="dateSupp" required>
        </div>
        <button type="submit" class="btn btn-success">Accept</button>
    </form>
    <form th:action="@{/docstudentsrefuse/{id}(id=${DocEtud.id})}" method="get">
        <button type="submit" class="btn btn-danger">Refuse</button>
    </form>
    <form th:action="@{/docstudentcontenu/{id}(id=${DocEtud.id})}" method="get">
        <button type="submit" class="btn btn-info">Afficher Contenu</button>
    </form>
    <a class="btn btn-primary" th:href="@{/docstudentsubmited}">Back to List</a>
</div>

<body>
<h1>File Content</h1>
<iframe th:src="@{/docstudentcontenu/{id}(id=${DocEtud.id})}" width="100%" height="600px"></iframe>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
