<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Docs</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles-merged.css}">
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:include="ArchivisteNavbar :: navbarDba"></div>
<div class="container">
    <h2>Student Documents</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Filiere</th>
            <th>Annee Realisation</th>
            <th>Administrateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc : ${DocEtud}">
            <td th:text="${doc.id}"></td>
            <td th:text="${doc.type}"></td>
            <td th:text="${doc.filiere}"></td>
            <td th:text="${doc.anneeRealisation}"></td>
            <td th:text="${doc.admin.getNom()}+' '+${doc.admin.getPrenom()}"></td>

            <td>
                <a class="btn btn-info" th:href="@{/detaildocstudentsubmited/{id}(id=${doc.id})}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
