<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Docs</title>

</head>
<body>
<div th:include="ArchivisteNavbar :: navbarDba"></div>
<div class="container">
    <h2>Student Documents</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Filiere</th>
            <th>Annee Realisation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc : ${DocEtud}">
            <td th:text="${doc.id}"></td>
            <td th:text="${doc.type}"></td>
            <td th:text="${doc.filiere}"></td>
            <td th:text="${doc.anneeRealisation}"></td>

            <td>
                <a class="btn btn-info" th:href="@{/detaildocstudentsubmited/{id}(id=${doc.id})}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
