<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Étudiant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<!-- Inclusion du fragment navbar -->
<div th:include="AdminDbaNavbar :: navbarDba"></div>

<div class="container mt-4">
    <h2>Modifier Étudiant</h2>
    <form th:action="@{/modifetud}" method="post">

            <input type="hidden" class="form-control" id="id" name="id" th:value="${etudiant.id}">

        <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" th:value="${etudiant.nom}" required>
        </div>
        <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" class="form-control" id="prenom" name="prenom" th:value="${etudiant.prenom}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" th:value="${etudiant.email}" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" class="form-control" id="password" name="password" th:value="${etudiant.password}" required>
        </div>
        <div class="form-group">
            <label for="anneeAccess">Année d'accès:</label>
            <input type="number" class="form-control" id="anneeAccess" name="anneeAccess" th:value="${etudiant.anneeAccess}" required>
        </div>
        <div class="form-group">
            <label for="filiere">Filière:</label>
            <input type="text" class="form-control" id="filiere" name="filiere" th:value="${etudiant.filiere}" required>
        </div>
        <div class="form-group">
            <label for="AccessLevelAnnee">Niveau d'accès année:</label>
            <input type="number" class="form-control" id="AccessLevelAnnee" name="AccessLevelAnnee" th:value="${etudiant.AccessLevelAnnee}" required>
        </div>
        <div class="form-group">
            <label for="AccessLevelFiliere">Niveau d'accès filière:</label>
            <input type="number" class="form-control" id="AccessLevelFiliere" name="AccessLevelFiliere" th:value="${etudiant.AccessLevelFiliere}" required>
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+ayQ9FkWiw23Fd4pG9dUFMgJL4iz/HnNpFVUJLnF4YED6sk"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2F6BHv5vhoN0pZ4P9Pi9E9RV8oflAvcJ"
        crossorigin="anonymous"></script>
</body>
</html>
