<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<div th:include="AdminNavbar :: navbarDba"></div>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue, Administrateur !</h1>
        <p class="lead">Vous êtes connecté à l'application en tant qu'administrateur.</p>
        <hr class="my-4">
        <p>Cette page d'accueil est un exemple pour illustrer Thymeleaf avec Bootstrap.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+ayQ9FkWiw23Fd4pG9dUFMgJL4iz/HnNpFVUJLnF4YED6sk"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2F6BHv5vhoN0pZ4P9Pi9E9RV8oflAvcJ"
        crossorigin="anonymous"></script>
</body>
</html>
